<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiodome</title>
    <link rel="stylesheet" href="https://picocss.com/examples/bootstrap-grid/css/pico-bootstrap-grid.min.css">
    <style>
        .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        }
    </style>
</head>
<body>
    <header class="container">
        <nav>
            <ul>
                <li><a href="/"><strong>Shiodome</strong></a></li>
            </ul>
            <ul>
                {%if "discord_avatar_url" in session %}
                <li>
                    <img src="{{session['discord_avatar_url']}}" alt="" class="avatar">
                </li>
                {%endif%}
            </ul>
        </nav>
    </header>


    <body class="container">
        {%block content%}
        
        {%endblock%}
        
    </body>
    
</body>
</html>