<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiodome</title>
    <link rel="stylesheet" href="https://picocss.com/examples/bootstrap-grid/css/pico-bootstrap-grid.min.css">
</head>
<body>
    <header class="container">
        <nav>
            <ul>
                <li><a href="/"><strong>Shiodome</strong></a></li>
            </ul>
            <ul>
                {%if user != None %}
                    <a href="/logout"><li>Logout</li></a>
                {%endif%}
            </ul>
        </nav>
    </header>


    <body class="container">
        {%block content%}
        
        {%endblock%}
        
    </body>
    
</body>
</html>